<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>WaterCheck Pro</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>our_water</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<string>NSAllowsArbitraryLoads</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>ขออนุญาตใช้สิทธิ์</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>ขออนุญาตใช้สิทธิ์</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>ขออนุญาตใช้สิทธิ์</string>
	<key>NSCalendarsUsageDescription</key>
	<string>ขออนุญาตใช้สิทธิ์</string>
	<key>NSCameraUsageDescription</key>
	<string>กล้องของท่านจะถูกใช้เพื่อถ่ายภาพ</string>
	<key>NSContactsUsageDescription</key>
	<string>ขออนุญาตใช้สิทธิ์</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>ขออนุญาตใช้สิทธิ์</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>ตำแหน่งของท่านจะถูกใช้ในการค้นหาสินค้าใกล้คุณ</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>ตำแหน่งของท่านจะถูกใช้ในการค้นหาสินค้าใกล้คุณ</string>
	<key>NSMotionUsageDescription</key>
	<string>ขออนุญาตใช้สิทธิ์</string>
	<key>NSSiriUsageDescription</key>
	<string>ขออนุญาตใช้สิทธิ์</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>ขออนุญาตใช้สิทธิ์</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>การแจ้งเตือนอาจรวมถึงการเตือน เสียง และป้ายกำกับไอคอน คุณสามารถตั้งค่า การแจ้งเตือนเหล่านี้ได้ที่การตั้งค่า</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
